/* REQUIRED */
.color { 
/* THIS IS OPTIONAL BUT SUGGESTED */
	text-decoration: none;
	display: inline-block;
	padding: 5px; 
	margin: 5px;
/* EVERYTHING BELOW THIS LINE IS REQUIRED */
	border-width:0; 
	font-size: 1em;
	font-family: inherit;  
/* default values for ".color" elements with no color (or an invalid color) specified */
	background-color: #fff;
	border-color: #ccc;
	color: #777;
}

/* COLORS */
.color.blue {
	background-color: #0044cc;
	border-color: #002775;
	color: white;
}
.color.red{
	background-color: #BF0D04;
	border-color: #8F0801;
	color: white;
}
.color.green{
	background-color: #0DBF0D;
	border-color: #039403;
	color: white;
}
.color.yellow{
	background-color: #E8FF00;
	border-color: #C3D600;
	color: #918000;
}
.color.orange{
	background-color: #F89406;
	border-color: #CF7900;
	color: white;
}
.color.purple{
	background-color: #672AB8;
	border-color: #3C1273;
	color: white;
}
.color.white{
	background-color: #fff;
	border-color: #ccc;
	color: #777;
}
.color.lightgrey,
.color.lightgray{
	background-color: #ddd;
	border-color: #aaa;
	color: #555;
}
.color.grey,
.color.gray{
	background-color: #aaa;
	border-color: #777;
	color: #333;
}
.color.darkgrey,
.color.darkgray{
	background-color: #777;
	border-color: #aaa;
	color: #fff;
}
.color.black{
	background-color: #000;
	border-color: #555;
	color: #ddd;
}
.color.lightbrown{
	background-color: #DB6127;
	border-color: #B54510;
	color: white;
}
.color.brown{
	background-color: #BA3F06;
	border-color: #8C2F03;
	color: white;
}
.color.darkbrown{
	background-color: #852E05;
	border-color: #541B00;
	color: white;
}

/* MADE UP COLORS */
.color.slate {
	background-color: #2F6388;
	border-color: #1A4361;
	color: white;
}
.color.eraser {
	background-color: #a3455d;
	border-color: #7A273C;
	color: white;
}
.color.evergreen {
	background-color: #33623e;
	border-color: #194222;
	color: white;
}
.color.drab{
	background-color: #a59854;
	border-color: #7A6E2C;
	color: #453C0C;
}

/* SHAPES & BORDERS */
.round{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.teardrop{
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
}
.slant{
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-top-left-radius: 0.5em;
	border-top-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
.bubble{
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
}
.ghost{
	position: relative;
}
.ghost:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);
}
.gloom{
	position: relative;
}
.gloom:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.border1{
	border-width: 1px;
	border-style: solid;
}
.border2{
	border-width: 2px;
	border-style: solid;
}
.border3{
	border-width: 3px;
	border-style: solid;
}
.border4{
	border-width: 4px;
	border-style: solid;
}
.underline1{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.underline2{
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.underline3{
	border-bottom-style: solid;
	border-bottom-width: 3px;
}
.underline4{
	border-bottom-style: solid;
	border-bottom-width: 4px;
}