@font-face
{
	font-family: Quicksand;
	src: url('fonts/Quicksand-Regular.otf')
}
@font-face
{
	font-family: Autour;
	src: url('fonts/AutourOne-Regular.otf')
}
@font-face
{
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.ttf')
}
body {
	font-family: "Roboto";
	color: #555;
	background: #eee;
}
#container{
	display: block;
	width: 900px;
	margin: 0 auto;
	background: white;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 30px;
}
h2{
	text-align: center;
	font-family: "Autour";
}
.full{
	width: 860px;
	border-bottom: 1px solid #ddd;
	padding: 20px;
}
.full h2{
	text-align: left;
}
.column{
	width: 210px;
	float: left;
	border-right: 1px solid #ddd;
	margin-right: 10px;
}
.column.elements{
	border: 0;
}
.column .color{
	width:180px;
	text-align: center;
}